.main1{
    font-size:xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(126, 233, 232);
}
.link2{
    align-content: right;
}
#text1{
    text-decoration: dotted;
}